go 1.20

use (
	./go-corner
	./go-design-patterns
	./go-in-action/api
	./go-in-action/custom-logger
	./go-in-action/etcd-sample
	./go-in-action/fiber-sample
	./go-in-action/file-server
	./go-in-action/gin-sample
	./go-in-action/goemail
	./go-in-action/gorilla-sample
	./go-in-action/gorm-sample
	./go-in-action/gorm-viper
	./go-in-action/graphql-sample
	./go-in-action/grpc-sample
	./go-in-action/im-system
	./go-in-action/jaeger-sample
	./go-in-action/rabbitmq-sample
	./go-in-action/redis-sample
	./go-in-action/signature-verifier
	./go-in-action/singleflight
	./go-in-action/todolist/api-gateway
	./go-in-action/todolist/task
	./go-in-action/todolist/user
	./go-in-action/viper-sample
	./go-in-action/wire-sample
	./go-pkgs/golang-glog
	./go-pkgs/google-uuid
	./go-programming-lang
	./go-testing/benchmark
	./go-testing/fuzzing
	./go-testing/httptest
	./go-testing/unit
)
